* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 140vh;
    width: 100%;

    .nav {
        height: 40px;

        nav {
            display: flex;
            justify-content: space-around;
            margin: 10px;

            ul {
                li {
                    margin-top: 10px;
                    list-style: none;

                    a {
                        text-decoration: none;
                        font-size: 15pt;
                        padding: 10px;
                        color: darkgray;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    }
                }
            }

            img {
                width: 40px;
                border-radius: 50%;
            }
        }
    }

    .top_div {
        background-color: rgba(226, 104, 104, 255);
        height: 80%;
        margin-top: 10px;

        h1 {
            text-align: center;
            padding: 80px;
        }
    }

    .bottom_div {
        background-color: rgba(74, 63, 96, 255);
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 10%;

        div {
            width: 40%;
            display: flex;
            padding: 50px;
            align-items: center;

            p {
                text-align: center;
                width: 100%;
                font-weight: bolder;
                color: white;
                font-size: 13pt;
            }
        }

        .ivica {
            background-color: rgba(68, 57, 89, 255);
            border-radius: 50%;
            align-items: center;
            width: 120px;
            height: 120px;
            margin: 50px
        }

        img {
            width: 60px;
            height: 60px;
            margin-left: -1.2rem;

        }
    }
}

.footer {

    padding: 5.5em 20%;

           h2 {
        text-align: center;
         }

    p {
        text-align: center;
        font-size: 15pt;
        padding: 1rem;
    }

    .forma {
        width: 80%;
        background-color: gray;
        padding: 2rem;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        margin-left: 8rem;
        
    }

    input {
        padding: 15px;
       width: 49%;
       height: 50px;
    }
    textarea{
        width: 100%;
        margin: 10px 0;
        padding: 20px;
        resize: none;
    }
}